<div class="card-text rev">
    <b class="card-title" data-i18n="maratona-titulo"></b>
    <p class="card-desc" data-i18n="maratona-desc1"></p>
    <p class="card-desc" data-i18n="maratona-desc2"></p>
    <a href="https://github.com/jwols27/web-maratona-2023"
       class="card-desc botao-link" target="_blank" draggable="false">
        <i class="nf nf-dev-github" style="font-size: 1.1rem; margin-right: .2rem"></i><span
            data-i18n="maratona-link"></span></a>
    <div class="grupo-icones">
        <i class="nf nf-dev-react tooltip">
            <span class="tooltip-text">React</span>
        </i>
        <i class="nf nf-dev-typescript tooltip">
            <span class="tooltip-text">TypeScript</span>
        </i>
    </div>
</div>
<div class="card-img" draggable="false">
    <img alt="Maratona SBC" src="../../src/assets/logo-maratona.png"/>
</div>