<div class="card-text rev">
    <b class="card-title">Website Oficial da Maratona de Programação SBC 2023</b>
    <p class="card-desc">Durante meu estágio, fiquei responsável de fazer o site oficial da Maratona de
        Programação SBC de 2023. Foi uma ótima experiência para mim, consegui aprender bastante nesse
        período.</p>
    <p class="card-desc">Foi utilizado React com TypeScript.</p>
    <a href="https://github.com/jwols27/web-maratona-2023"
       class="card-desc botao-link" target="_blank" draggable="false">
        <i class="nf nf-dev-github" style="font-size: 1.1rem; margin-right: .2rem"></i> Acesse o repositório
        clicando aqui.</a>
    <div class="grupo-icones">
        <i class="nf nf-dev-react tooltip">
            <span class="tooltip-text">React</span>
        </i>
        <i class="nf nf-dev-typescript tooltip">
            <span class="tooltip-text">TypeScript</span>
        </i>
    </div>
</div>
<div class="card-img" draggable="false">
    <img alt="Maratona SBC" src="../../src/assets/logo-maratona.png"/>
</div>