<div class="card-img" draggable="false">
    <img alt="Sem imagem" src="../../src/assets/marcille.png"/>
</div>
<div class="card-text">
    <b class="card-title">Júlia's Conversion Tool</b>
    <p class="card-desc" data-i18n="jct-desc1"></p>
    <p class="card-desc" data-i18n="jct-desc2"></p>
    <a href="https://github.com/jwols27/julia_conversion_tool/releases"
       class="card-desc botao-link" target="_blank" draggable="false">
        <i class="nf nf-dev-github" style="font-size: 1.1rem; margin-right: .2rem"></i><span
            data-i18n="jct-link"></span></a>
    <div class="grupo-icones">
        <i class="nf nf-dev-dart tooltip">
            <span class="tooltip-text">Dart</span>
        </i>
        <i class="nf nf-dev-flutter tooltip">
            <span class="tooltip-text">Flutter</span>
        </i>
    </div>
</div>