<div class="card-img" draggable="false">
    <img alt="Unoesc" src="../../src/assets/logo-unoesc.png"/>
</div>
<div class="card-text">
    <b class="card-title">Unoesc ON</b>
    <p class="card-desc" data-i18n="unoesc-desc1"></p>
    <p class="card-desc" data-i18n="unoesc-desc2"></p>
    <a href="https://play.google.com/store/apps/details?id=com.unoesc.android.unoescon&pcampaignid=web_share"
       class="card-desc botao-link" target="_blank" draggable="false">
        <i class="nf nf-fa-google_play" style="font-size: 1.1rem; margin-right: .2rem"></i>
        <span data-i18n="unoesc-link"></span>
    </a>
    <div class="grupo-icones">
        <i class="nf nf-dev-dart tooltip">
            <span class="tooltip-text">Dart</span>
        </i>
        <i class="nf nf-dev-flutter tooltip">
            <span class="tooltip-text">Flutter</span>
        </i>
        <i class="nf nf-dev-sqldeveloper tooltip">
            <span class="tooltip-text">SQL</span>
        </i>
        <i class="nf nf-dev-react tooltip">
            <span class="tooltip-text">React</span>
        </i>
        <i class="nf nf-fa-node_js tooltip">
            <span class="tooltip-text">NodeJs</span>
        </i>
    </div>
</div>