<h1 class="back-title" data-i18n="ola-mundo">Olá mundo!</h1>
<div id="banner-eu" class="card fcol center">
    <img id="eu-img" alt="eu" src="../../src/assets/eu.png" class="img-circular" onclick="imagemAleatoria()"/>
    <b style="font-size: 1.5rem">Júlia Patricia Wolschick</b>
    <span style="font-size: .9rem"><span id="minha-idade"></span> anos, Técnica em Informática</span>
    <span style="font-size: .9rem">Cursando Engenharia de Computação</span>
    <div id="conexoes" class="frow">
        <a href="https://github.com/jwols27" target="_blank" class="tooltip">
            <i class="nf nf-dev-github"></i>
            <span class="tooltip-text">GitHub: jwols27</span>
        </a>
        <a href="https://linkedin.com/in/júlia-patricia-wolschick-a22699261" target="_blank" class="tooltip">
            <i class="fa-brands fa-linkedin"></i>
            <span class="tooltip-text">LinkedIn</span>
        </a>
        <a href="mailto:juliapwols@gmail.com" target="_blank" class="tooltip">
            <i class="nf nf-md-email"></i>
            <span class="tooltip-text">juliapwols@gmail.com</span>
        </a>
        <a href="https://bsky.app/profile/juwuba27.bsky.social" target="_blank" class="tooltip">
            <i class="fa-brands fa-bluesky"></i>
            <span class="tooltip-text">Bluesky: juwuba27</span>
        </a>
    </div>
</div>