#ola-mundo {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > h1 {
        padding-right: 0;
    }

    & .tooltip-text {
        top: calc(75%);
    }

    & > a {
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 200ms ease;
        user-select: none;
        backdrop-filter: blur(4px);
        padding: .5rem;
        border-radius: 8px;

        &:active {
            transform: scale(0.95);
        }
    }
}

#secao-eu {
    height: 90vh;
    margin-bottom: 10vh;
    width: 100%;
    text-align: center;
}

#banner-eu {
    gap: .3rem;
    width: 100%;
    background: rgb(var(--cor2));
    padding: 1rem;
    position: relative;
}

#secao-2 {
    width: 100%;
    margin-top: 5rem;
    min-height: 70vh;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

#eu-img {
    cursor: pointer;
    margin-top: .5rem;
    box-shadow: 0 0 10px var(--cor1);
    transition: all 200ms ease;

    &:active {
        transform: scale(0.95);
    }
}

@media screen and (max-width: 1000px) {
    #banner-eu {
        border-radius: 0;
    }
}

#conexoes {
    margin-top: .5rem;
}

#conexoes a {
    color: white;
    text-decoration: none;
    transition: all 200ms ease;
    display: flex;
    font-size: 2rem;

    &:hover {
        transform: scale(1.05);
        color: var(--destaque);
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(1.3);
        transform: scale(0.95);
    }
}

#footer-icones.grupo-icones {
    display: flex;
    padding: 0;
    gap: .5rem;
    font-size: 1.5rem;
    margin-top: 0.1rem;
}